<div class="container my-5">
  <div class="mb-5">
    <h1>Users</h1>
  </div>

    <div class="d-flex mb-5 justify-content-center">
      <input class="p-2 w-75 ">
      <button class="ms-3 p-2 btn btn-success">Search</button>
    </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      @for (user of users; track user.id){
        <div class="col d-flex justify-content-center">
            <app-card [userData]="user"></app-card>
          </div>
        }
    </div>
  </div>
</div>

<router-outlet></router-outlet>
